.box{
  width: 17vmax;
  height: 23vmax;
  box-shadow: 8px 10px 14px #CECECE;
  float: left;
  text-align: center;
  background-color: #F4F1F1;
  padding-top: 2vmax;
  margin: 0.5vmax;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

h2, h5{
  font-family: "Roboto", sans-serif;
  color: #777777;
}

h2{
  font-size: 2vmax;
}

h5{
  font-size: 1.3vmax;
}

p{
  font-family: "Open Sans", sans-serif;
  font-size: 1vmax;
}

span[class^="icon"]{
  font-size: 4vmax;
}

.box:hover {
  padding-top: 1.25rem;
  color: white;
  background-color: #fff;
  -webkit-transform: scale3d(1.1);
  color: #7AA2F4;
  -webkit-transition: all 0.5 s ease-in-out;
}

.box:hover h2{
  color: #7AA2F4;
}
